* {
	font-family: "Lucide Grande", sans-serif;
	color: #666;
}

div .col-md-5 {
	padding-right: 5px;
}

div div.col-md-7 {
	padding-right: 5px;
}

p {
	line-height: 200%;
}

div h1 {
	text-align: center;
	font-size: 40px;
	font-weight: normal;
}

div h2 {
	color: #F07C17;
	font-size: 20px;
	font-weight: normal;
}

div img {
	padding-top: 0px;
	margin-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 12px;
}

div.row:nth-child(2) div.col-md-5 div:nth-child(2) {
	border: 1px solid #ccc;
	padding: 0px 10px 10px 15px;
	line-height: 200%;
}