* {
	font-family: "Lucida Grande", sans-serif;
	color: #666;
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.col-sm-7 {
	padding: 0px 35px 0px 15px;
}

div p {
	font-size: 16px;
	line-height: 32px;
	color: #666;
	padding: 0px 0px 0px 0px;
}

h1 {
	text-align: center;
	color: #666;
	font-size: 50px;
	margin: 0px 0px 4px 0px;
	padding: 42px 10px 7px 14px;
}

h2 {
	color: #F07C17;
	font-size: 26px;
	padding: 0px 0px 17px 0px;
}

img {
	margin: 22px 0px 0px 0px;
	padding: 0px 0px 10px 8px;
}

div.col-sm-5 div + div {
	border: 1px #ccc solid;
	margin: 14px 0px 0px 14px;
	padding: 0px 0px 43px 0px;
}

div.col-sm-5 div + div h2 {
	margin: 26px 0px 10px 30px;
}

div.col-sm-5 div + div ul {
	font-size: 16px;
	color: #666;
	margin: 8px 0px 0px 29px;
	line-height: 33px;
}